/* ========== main =========== */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --primary-font: 'Raleway', sans-serif;
    --secondery-font: 'Roboto', sans-serif;

    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;
    --shadow-btn-herro: rgba(0, 0, 0, 0.15);
    /* --color-modal background:#fcfcfc ; */

    /* Others */

    /* indent for gap */
    --indent: 24px;
    --indent-items: 3;


    --header-idx: 10;
    --modal-idx: 100;

    --anim-fast: 400ms ease-in;
    --anim-slow: 1000ms ease-in-out;

    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* transition */
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


body {
    font-family: var(--secondery-font);
    color: var(--color-navy-blue);
    color: var(--color-slate);
    background-color: var(--color-white);

    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    /* display: block; */
    color: currentColor;
    text-decoration: none;
}

ul {
    padding-inline-start: 0px;
}

.container {
    /* Phone style & >*/
    min-width: 320px;
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;

    outline: dashed 2px red;
}

/* Tablet style & > */
@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* Desktop style */
@media only screen and (min-width: 1158px) {
    .container {
        min-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
    /* outline: dashed 2px red; */
}

@media only screen and (max-width: 1157px) {
    .section {
        padding-top: 96px;
        padding-bottom: 96px;
    }
}

.centred {
    text-align: center;
}

/*to hide service*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* card set */

.card-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px var(--indent);
}

@media only screen and (max-width: 767px) {
    .card-set {
        --indent: 16px;
    }
}

.card-set-items {
    width: calc((100% - (var(--indent-items) - 1) * var(--indent)) / var(--indent-items));
}

/* delete point in UL */
.list {
  list-style: none;
}

/* === Header === */

.header-container {
    border-bottom: solid 1px var(--color-cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container .container {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 767px) {
    .header-container .container {
        justify-content: space-between;
    }
}

/* Logo */
.logo {
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--color-iris);

    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
}

/* Tablet style & > */
@media only screen and (min-width: 768px) {
    .logo {
        margin-right: 120px;
    }
}

/* Desktop style */
@media only screen and (min-width: 1158px) {
    .logo {
        margin-right: 76px;
    }
}

.logo-studio {
    color: var(--color-navy-blue);
}

/* logo for footer */
.footer .logo-studio {
    color: var(--color-cloud);
}

/* site nav */
.nav {
    display: flex;
    align-items: center;
}

.nav-l {
    position: relative;

    display: none;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--color-navy-blue);

    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    text-decoration: none;

    transition: color var(--transition-duration) var(--transition-timing-function);
}

@media only screen and (min-width: 768px) {
    .nav-l {
        display: block;
    }
}

.nav-l:hover,
.nav-l:focus {
    color: var(--color-ocean);
}

.nav-l::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.nav-l.current::after {
  background-color: var(--color-ocean);
}

/* .nav-l.current::after,
.nav-l:hover::after,
.nav-l:focus::after
 {
    background-color: var(--color-ocean);
} 13.05 */

 .nav-l.current {
    color: var(--color-ocean); 
}

.nav .list {
    display: flex;
    gap: 40px;
}

/* address */
.address {
    display: none;
    margin-left: auto;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

@media only screen and (min-width: 768px) {
    .address {
        display: block;
    }
}

@media only screen and (min-width: 1158px) {
    .nav-address {
        display: flex;
        gap: 40px;
    }
}

@media only screen and (min-width: 428px) and (max-width: 1157px) {
    .nav-address {
        display: flex;
        gap: 12px;
        flex-direction: column;
    }
}

.address-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--color-slate);
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color var(--transition-duration) var(--transition-timing-function);
}

@media only screen and (min-width: 428px) and (max-width: 1157px) {
    .address-link {
        padding-top: 0;
        padding-bottom: 0;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.04em;
    }
}

@media only screen and (min-width: 1158px) {
    .address-link {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.address-link:hover,
.address-link:focus {
    color: var(--color-ocean);
}


 /* Mobile menu styles "hamburger"*/

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;

  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;


}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: left;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 32px 32px;
  
  background-color: var(--color-white);
  z-index: 999;
  overflow: scroll;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
    /* close */
  position: absolute;
  top: 32px;
  right: 32px;
  
  color: var(--color-navy-blue);

  width: 24px;
  height: 24px;
  border-radius: 50%;
  /* background: rgb(231, 233, 252, 0.1);
  border: 1px solid transparent; */

  background: var(--color-cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

}

.menu-container .menu-toggle:hover,
.menu-container .menu-toggle:focus,
.menu-container .menu-toggle:active {
    fill: var(--color-white);
    color: var(--color-white);
    background-color: var(--color-ocean);
}


.mobile-menu {
  margin-bottom: auto;
  padding: 0;
  list-style: none;
  color: var(--color-navy-blue);
  
}

.mobile-menu .link {
  display: block;
  padding-bottom: 40px;
  text-decoration: none;
}

.mobile-socials {
  display: flex;
  gap: 56px;
}

@media only screen and (max-width: 396px) {
  .mobile-socials {
    gap: 30px;
  }
}

.mobile-contacts {
  display: flex;
  gap: 40px;
  flex-direction: column;
  margin-bottom: 52px;
}

.mobile-contacts-linc {
  text-decoration: none;
}

.mobile-menu-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
}

.mobile-contacts-linc-tel {
  width: 100%;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--color-iris);
}

.mobile-contacts-linc-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  text-decoration: none;
}

.mobile-menu .current {
    color: var(--color-ocean);
}

/* .mobile-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  background: var(--color-cornflower);
 
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition: background-color var(--transition-duration) var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function);
} */


/* === Hero === */

/* Mobile Style < */

.hero {
    background-color: var(--color-navy-blue);

    padding-top: 112px;
    padding-bottom: 112px;

    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero/dark-bg-mob@1x.jpg);

    max-width: 1440px;
    max-height: 600px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}




@media only screen and (min-width: 1158px) {
    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/dark-bg-mob@2x.jpg);
    }
}

@media only screen and (min-width: 429px) and (max-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero/dark-bg-tab@1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/hero/dark-bg-tab@2x.jpg);
        }
    }
}

@media only screen and (min-width: 769px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero/desktop@1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/hero/desktop@2x.jpg);
        }
    }
}

.hero-title {
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;

    color: var(--color-white);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
}

/* .hero-title {
    font-family: var(--secondery-font);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--color-white);
    max-width: 396px;
    max-width: 320px;
    text-align: center;

    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
} */

@media only screen and (min-width: 768px) {
    .hero-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
    }
}

.btn-hero-container {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    padding: 16px 32px;
    border-radius: 4px;
    margin: 0 auto;
}

/* .hero-title {
    font-family: var(--secondery-font);
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--color-white);
    max-width: 496px;
    text-align: center;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
} */

.button-hero {
    font-family: var(--secondery-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    color: var(--color-white);
    background-color: var(--color-iris);
    cursor: pointer;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
    cursor: pointer;
    background-color: var(--color-ocean);
}

.section .section-title {
    color: var(--color-navy-blue);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    letter-spacing: 0.02em;
}
/* === Modal window === */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--modal-idx);

    width: 100%;
    height: 100%;

    background-color: rgba(17, 19, 25, 0.2);
    backdrop-filter: blur (4px);

    opacity: 1;
    visibility: visible;
    pointer-events: initial;

    transition: opacity 200ms ease,
        visibility 200ms ease,
        backdrop-filter 200ms ease;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    backdrop-filter: blur(0);

    transition-delay: 400ms;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0) scale(1);
    opacity: 1;

    width: 408px;
    min-height: 576px;
    padding: 24px;
    padding-top: 72px;

    background-color: var(--color-dairy);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

    transition: transform 400ms ease-in 200ms, opacity 400ms ease-in 200ms;
}

@media only screen and (max-width: 427px) {
    .modal {
        width: calc(100% - 30px);
        padding: 72px 16px 24px 16px;
    }
}

@media only screen and (min-width: 428px) and (max-width: 767px) {
    .modal {
        width: 392px;
        padding: 72px 16px 24px 16px;
    }
}

@media only screen and (max-width: 1157px) {
    .modal {
        overflow-y: auto;
        height: 90%;
    }
}

/* @media only screen and (max-width: 428px) {
  .modal {
    width: calc(100% - 32px);
    height: 614px;
    top: calc(50% - 307px);
    left: calc(50% - calc(100% - 32px) / 2);
    padding-top: 72px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    
  }
}  */

.modal-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;

    border-radius: 50%;

    color: var(--color-navy-blue);
    background-color: var(--color-cornflower);

    border: 1px solid rgba(0, 0, 0, 0.1);

    padding: 0;
    cursor: pointer;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(360deg) scale(0.2);
  opacity: 0;
}

.modal-btn:hover,
.modal-btn:focus,
.modal-btn:active {
  fill: var(--color-white);
  color: var(--color-white);
  background-color: var(--color-ocean);
}

.is-hidden {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
}

.modal-icon {
  box-sizing: content-box;
}

/* modal form */

.title-form {
    display: block;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}

.icon-form {
    position: absolute;
    top: 17%;
    left: 16px;

    fill: var(--color-navy-blue);

    transition: fill var(--transition-duration) var(--transition-timing-function);
    pointer-events: none;
}

.icon-form:hover,
.icon-form:focus {
    fill: var(--color-ocean);
}

.modal-form-lable {
    display: block;
    text-align: left;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    color: var(--color-light-slate);
}

.modal-form-fild {
    position: relative;
    margin-bottom: 8px;
}

.modal-form-input {
    outline: transparent;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    transition: border var(--transition-duration) var(--transition-timing-function);
    padding-left: 38px;
    padding-right: 38px;
}

.modal-form-input:hover,
.modal-form-input:focus {
    border: 1px solid var(--color-iris);
}

.modal-form-input:focus+.icon-form {
    fill: var(--color-iris);
}

.modal-form-massedge {
    outline: transparent;
    display: block;
    width: 100%;

    max-height: 120px;
    resize: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    transition: border var(--transition-duration) var(--transition-timing-function);
    padding-left: 16px;
    padding-top: 12px;
    margin-bottom: 16px;
}

.modal-form-massedge::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding-top: 8px;
}

.modal-form-massedge:hover,
.modal-form-massedge:focus {
    border: 1px solid var(--color-iris);

}

.modal-form-agreement {
    display: flex;
    align-items: center;
    gap: 0px;
    margin-bottom: 24px;
}

.modal-form-agreement-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: var(--color-light-slate);
    margin-left: 8px;
}

.modal-form-agreement-box {
    appearance: none;

    transition: var(--transition-duration) var(--transition-timing-function);
    cursor: pointer;
}

.modal-form-agreement-unchek {
    opacity: 1;
    transition: var(--transition-duration) var(--transition-timing-function);
}

.modal-form-agreement-box:checked+.modal-form-agreement-icon>.modal-form-agreement-unchek {
    opacity: 0;
}

.modal-form-agreement-check {
    opacity: 0;
    transition: var(--transition-duration) var(--transition-timing-function);
}

.modal-form-agreement-box:checked+.modal-form-agreement-icon>.modal-form-agreement-check {
    opacity: 1;
}

.modal-form-agreement-box:focus~.modal-form-agreement-icon,
.modal-form-agreement-icon:hover,
.modal-form-agreement-icon:focus,
.modal-form-agreement-icon:active {
    outline: 2px solid var(--color-ocean);
    outline-offset: -1px;
    border-radius: 2px;
    cursor: pointer;
}

.modal-form-policy {
    color: var(--color-iris);
}

.btn-modal-form {
  display: block;
  margin: 0 auto;
  width: 169px;
  height: 52px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--color-iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
  cursor: pointer;
}

.btn-modal-form:hover,
.btn-modal-form:focus {
    background-color: var(--color-ocean);
}


        /* Особливості
        features section */


@media only screen and (max-width: 427px) {
    .cont-prinsp-work-contr {
        max-width: 426px;
    }
}

@media only screen and (min-width: 428px) and (max-width: 1157px) {
    .cont-prinsp-work-contr {
        max-width: 768px;
    }
}
/* 13.05 766->768 */

.section .section-subtitle {
    color: var(--color-navy-blue);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;

    margin-bottom: 8px;
}

@media only screen and (min-width: 1158px) {
    .section .section-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
}

@media only screen and (max-width: 767px) {
    .section .section-subtitle {
        text-align: center;
    }
}

.cont-prinsp-work-list {
    --indent-items: 1;
}

@media only screen and (min-width: 768px) {
    .cont-prinsp-work-list {
        --indent-items: 2;
    }
}

@media only screen and (min-width: 1158px) {
    .cont-prinsp-work-list {
        --indent-items: 4;
    }
}

.section .desc {
    color: var(--base-text-color);
    line-height: 24px;
    letter-spacing: 0.02em;
    font-weight: 500;
}

@media only screen and (min-width: 1158px) {
    .section .desc {
        font-weight: 400;
    }
}

.card-princp {
    display: none;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;

    background-color: var(--color-cloud);
    border-radius: 4px;
}

@media only screen and (min-width: 1158px) {
    .card-princp {
        display: flex;
    }
}

/* .icon-princ {
} */


/* Приклади рoбіт, наші проєкти (Що ми робимо) */

.our-projects .section-title {
    color: var(--color-navy-blue);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

/* Phone  & Tablet style*/
.our-projects {
  display: none;
  padding-top: 0;
  background-color: var(--primari-whitecolor);
}

@media only screen and (min-width: 1158px) {
    .our-projects {
        display: block;
    }
}

.our-projects .section-title {
    margin-bottom: 72px;
}

/* Наша команда */

.team {
    background-color: var(--color-cloud);
}

@media only screen and (max-width: 767px) {
    .team-container {
        max-width: 296px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
    .team-container {
        max-width: 584px;
    }
}

.section-team-list {
    --indent-items: 1;
}

@media only screen and (min-width: 768px) {
    .section-team-list {
        --indent-items: 2;
    }
}

@media only screen and (min-width: 1158px) {
    .section-team-list {
        --indent-items: 4;
    }
}

.section-tm-title {
    color: var(--color-navy-blue);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    margin-bottom: 72px;
}

.style-img {
    background-color: var(--color-white);
}

.section .name {
    color: var(--color-navy-blue);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    margin-bottom: 8px;
}

.section .profession {
    color: var(--color-slate);

    line-height: 24px;
    letter-spacing: 0.02em;
}

.team-wrapper {
    padding: 32px 0;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
}

.profession {
    margin-bottom: 8px;
}

.team .card-set-items {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

@media only screen and (max-width: 1167px) {
    .team .card-set-items {
        width: 264px;
    }
}

/* social link */

.set-icon {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.kind-social-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.social-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color-iris);

    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.social-icon {
    fill: var(--color-cloud);
}

.social-link-icon:hover,
.social-link-icon:focus {
    background-color: var(--color-ocean);
}


/* Customers */

@media only screen and (max-width: 767px) {
    .customers-container {
        max-width: 426px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
    .customers-container {
        max-width: 582px;
    }
}

.section-cust-title {
    color: var(--color-navy-blue);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    margin-bottom: 72px;
}

.section-customers-list {
    --indent-items: 1;
}

@media only screen and (max-width: 767px) {
    .section-customers-list {
        --indent-items: 2;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
    .section-customers-list {
        --indent-items: 3;
    }
}

@media only screen and (min-width: 1158px) {
    .section-customers-list {
        --indent-items: 6;
    }
}

.customer-linc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 88px;
    border: 1px solid var(--color-light-slate);
    border-radius: 4px;
    color: var(--color-light-slate);

    transition: border-color var(--transition-duration) var(--transition-timing-function),
        color var(--transition-duration) var(--transition-timing-function);

    /* outline: 2px dashed  teal; */
}

@media only screen and (max-width: 1157px) {
    .customer-linc {
        width: 100%;
    }
}

.customer-linc:hover,
.customer-linc:focus {
    /* border: 1px solid var(currentColor); */
    border-color: var(--color-ocean);
    color: var(--color-ocean);
}

.customer-icon {
    fill: currentColor;
}

/* Footer */

@media only screen and (max-width: 767px) {
    .footer-container {
        max-width: 426px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-container {
        max-width: 582px;
    }
}

.footer .text {
    color: var(--color-cloud);
}

.cont-footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--color-navy-blue);
}

@media only screen and (max-width: 1157px) {
    .cont-footer {
        padding-top: 96px;
        padding-bottom: 96px;
    }
}

.flex-footer {
    display: flex;
    flex-direction: column;
    gap: 72px;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .flex-footer {
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 24px;
        row-gap: 72px;
        max-width: 582px;
        justify-content: flex-start;
    }
}

@media only screen and (min-width: 1158px) {
    .flex-footer {
        flex-wrap: nowrap;
        align-items: baseline;
        gap: 0;
    }
}

.cont-logo {
    width: 264px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .cont-logo {
        margin-left: 0;
        margin-right: 0;
        text-align: left;
    }
}

.footer .logo {
    display: inline-block;
    margin-bottom: 16px;

    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.footer .text {
    width: 264px;

    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

.titel-socmedia {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: var(--color-white);
    margin-bottom: 16px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .titel-socmedia {
        text-align: left;
    }
}

.cont-socmedia {
    width: 208px;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .cont-socmedia {
        margin: 0;
    }
}

@media only screen and (min-width: 1158px) {
    .cont-socmedia {
        margin-left: 120px;
    }
}

.footer .set-icon {
    gap: 16px;
}

.footer .social-icon {
    fill: var(--color-cloud);
}

.footer .social-link-icon:hover,
.footer .social-link-icon:focus {
    background-color: var(--color-green);
}

.cont-subscribe {
    max-width: 428px;
    /* height: 80px; 13.05 */
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .cont-subscribe {
        max-width: 768px;
        justify-items: flex-start;
    }
}

@media only screen and (min-width: 1158px) {
    .cont-subscribe {
        width: 453px;
        height: 80px;
        text-align: left;
        margin-left: 80px;
    }
}

.flex-entermail-and-btn {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: left;
}

@media only screen and (min-width: 768px) {
    .flex-entermail-and-btn {
        flex-direction: row;
        gap: 24px;
        justify-content: flex-start;
    }
}

@media only screen and (min-width: 1158px) {
    .flex-entermail-and-btn {
        flex-direction: row;
        gap: 24px;
    }
}

.input-footer {
    width: 264px;
    height: 40px;
    padding-left: 16px;
    background-color: var(--color-navy-blue);
    color: var(--color-white);
    border: 1px solid var(--color-white);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

@media only screen and (max-width: 767px) {
    .input-footer {
        width: 398px;
    }
}

@media only screen and (max-width: 398px) {
    .input-footer {
        width: 100%;
    }
}

.input-footer::placeholder {
    color: var(--color-white);

    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.titel-subscribe {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: var(--color-white);
    margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
    .titel-subscribe {
        text-align: left;
    }
}

.btn-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);

    gap: 16px;
    width: 165px;

    height: 40px;
    background: var(--color-iris);
    cursor: pointer;
    border-radius: 4px;
    border-color: transparent;
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.btn-subscribe:hover,
.btn-subscrib:focus {
    background: var(--color-ocean);
}

/* === POTFOLIO === */

